/* Main div for the card that display all the information about the establishment (on right)*/
/* z-index + position to put it on top of the map */
.infoEstablishment {
    width: 20%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: absolute;
    right: 0px;
    background-color: #282c34;
    color: white;
    border-radius: 25px 25px;
    z-index: 3;
    padding-top: 3.5%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
}


/* Effect when the mouse goes over the card*/
.infoEstablishment:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Padding of the card's container */
.infosContainer {
    padding: 20% 10px;
    align-content: center;
}

/* Position and style the close button (top left corner) */
.infoEstablishment .infosClosebtn {
    position: absolute;
    top: 7%;
    left: -4%;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
}

/* Img for the establishment */
.image {
    width: 100%;
    border-radius: 25px;
}



/* Style for the button modify */
.infoEstablishment button {
    border-radius: 5px;
    background-color: #282c34;
    color: white;
    font-weight: bold;
    border: 2px solid cornflowerblue;
    transition-duration: 0.4s;
    padding: 2%;
    margin-top: 2%;
    vertical-align: middle;

}

.btnInfoContainer{



}


/* Style when the mouse goes over the button modify*/
.infoEstablishment button:hover {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;

}


/* Stars ratting */
.stars {
    margin-left: 34%;
    width: 40%;
    /* border: 3px solid #73AD21;*/
    padding: 5px;
}

.infoEstablishment a {
    color: white;
}

.infoEstablishment h3,h4,p {
   margin: 5px;
}
