.leaflet-container{
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.Map {
    position: relative;
    height: 100%;
    width: 100%;
    align-content: center;
    z-index: 2;
    padding-top: 4%;
}












