header {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 10;
}
/* Style of the settings */
.btnToolbox {
    position: absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282c34;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Black background color to the top navigation bar */
.topNavBar {
    overflow: hidden;
    background-color: #282c34;
}


.topNavBar a {
    float: right;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topNavBar a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Style the "active" element to highlight the current page */
.topNavBar a.active {
    background-color: black;
    color: white;
}

/* Side navigation menu */
.toolbox, .login {
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    top: 0; /* Stay at the top */
    background-color: #111; /* Black*/
    overflow-x: hidden; /* invisible the content of the div when closed */
    padding-top: 5%; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.toolbox {
    left: 0;
}

.login {
    right: 0;
}

/* Header menu links */
.toolbox a{
    padding: 1% 1% 1% 10%;
    text-decoration: none;
    font-size: 25px;
    color: #999;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.toolbox a:hover {
    color: #f1f1f1;

}

/* Position and style the close button */
.toolbox .btnClose {
    position: absolute;
    top: 0;
    font-size: 36px;
    right: 25px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
}

/* Style for the calendar */
.calendar {
    color: cornflowerblue;
}

.label{
    color: #fff;
    display: block;
}

.label {
    padding-left: 20%;
    text-align: left;
}

.field {
    width: 60%;
}

p {
    font-size: 20px;
    color: white;
}
