/* Style of the settings */
.btnToolbox {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    position: absolute;
}

/* Style of the setting when the mouse goes over it */
.btnToolbox:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282c34;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Black background color to the top navigation bar */
.topNavBar {
    overflow: hidden;
    background-color: #282c34;
}


.topNavBar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topNavBar a:hover {
    background-color: black;
    color: white;
}

/* Style the "active" element to highlight the current page */
.topNavBar a.active {
    background-color: black;
    color: white;
}

/* Side navigation menu */
.toolbox {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Header menu links */
.toolbox a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.toolbox a:hover {
    color: #f1f1f1;

}

/* Position and style the close button (top right corner) */
.toolbox .btnClose {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
}


/* Search bar */
.searchBar {
    width: 80%;
    height: 5%;
}

/* Search button */
.btnSearch {
    height: 5%;
    border-radius: 10% 10%;
    border-color: cornflowerblue;
    background-color: white;
    color: black;
    font-weight: bold;
    margin: 2%;
}

/* Style when the mouse goes over the search button */
.btnSearch:hover {
    background-color: cornflowerblue;
    color: white;
}

/* Style for the calendar */
.calendar {
    color: cornflowerblue;

}
